<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
    <!--<add name="DBase" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-ContactAPI-20180720082048.mdf;Initial Catalog=aspnet-ContactAPI-20180720082048;Integrated Security=True"
      providerName="System.Data.SqlClient" />-->
  
  <add name="DBase" 
        connectionString="server=.; database=testDB; integrated security=SSPI"
        providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>